@model List<mn_you.Models.SQLite.Vendor>

<h1>Vendors</h1>


<div class="list-group">
  @foreach (var vendor in Model) {
    <a asp-controller="Vendors" asp-action="Details" asp-route-id="@vendor.Slug" class="list-group-item">
      <h4 class="list-group-item-heading">@vendor.Name</h4>
      <p class="list-group-item-text">
        @vendor.Bio.Substring(0, Math.Min(@vendor.Bio.Length, 130)) ...
      </p>
    </a>
  }
</div>