@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Conceived in the heart of West Central, Minnesota, MNyou (pronounced menu) is a one stop shop for locally produced goods. The goal of this website is to connect consumers to an extensive network of local producers to fit their seasonal food needs; at the same time allowing those same producers to expand their customer base. With a strong focus on shopping local, MNyou is the "hub" for things fresh and all things local.</p>


<div class="row">
    <div class="col-sm-5" style="padding-top: 25px;">
        <p>MNyou is a product of the 2016 Hack2o event held
 in Willmar, MN. </br> The development team consisted of: </br></br>
Cory Dingles </br>
Zach Wolf </br>
Brandon Refsland </br>
Guillermo Serrano </br>
Cody Kurowski </br>
Ben Larson </br>
Nate Erickson </br>
Soren Twedt </br>
</p>
    </div>
    <div class="col-sm-7" style="padding-top: 25px;">
        <a target="Full Picture" href="/images/teambuilders.jpg">
            <img src="/images/teambuilderssmall.jpg" class="img-responsive" />
        </a>
    </div>
</div>

<!-- This is a contact place holder -->
<h3>Contact Us</h3>

<div class="row">
    <div class="col-sm-5">
        <address>
            MNyou<br />
            Willmar, MN 56201<br />
            Phone: 320-555-0100
        </address>
    </div>
    <div class="col-sm-7">
        <address>
            <strong>Support:</strong> <a href="mailto:Support@mn-you.com">Support@mnyou.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@mn-you.com">Marketing@mnyou.com</a>
        </address>
    </div>
</div>
