@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1>
    Contact Us
</h1>
<address>
    Mn-You<br />
    Willmar, MN 56201<br />
    <abbr title="Phone">P:</abbr>
    320.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@mn-you.com">Support@mn-you.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mn-you.com">Marketing@mn-you.com</a>
</address>
