body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #220f02;
    background-color: #F4EBE4;
}


footer {
    background-color: #430403;
    color: #DDB65A;
    font-size: 12px;
    padding-top: 10px;
    text-align: right;
}

.btn-orange {
    background-color: #de8932;
    color: #fff;
}
.btn-orange:hover {
    background-color: #ce7932;
    color: #fff;
}

/*Change login button color*/
#sign-up{
    background-color: #de8932;
    color: #ffffff;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Vendors CSS*/

.vendor-content {
    background-color: #f4ebe4
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
